@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif, Arial, Helvetica;
  }
  body {
    background-color: #f8f8f8;
  }
  html,
  body,
  #root {
    height: 100%;
  }
  * {
    box-sizing: border-box;
  }
}
